body {
	display: flex;
	flex-wrap: wrap;
    align-content: stretch;
	justify-content: space-evenly;
}

.chat-container {
	line-height: 1.5;
	border: 1px solid black;
	width: 400px;
	margin-top: 50px;
	border-radius: 10px;
	overflow: hidden;
	font-family: Arial, sans-serif;
}

.group-container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 400px;
	margin-top: 50px;
	border-radius: 10px;
	overflow: hidden;
	font-family: Arial, sans-serif;
}

#createGroupForm {
	background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


#groups {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	border: 5px;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	background-color: #f2f2f2;
}

.group {
	display: flex;
	align-items: center;
	border: 2px solid;
	border-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	flex: 1;
}

.heading {
	flex: 1;
}

.btn {
	margin-right: 10px;
}

.chat-header {
  display: flex;
  justify-content: center;
	background-color: #0066ff;
	color: white;
	padding: 10px;
}

.chat-history {
	display: flex;
	flex-direction: column-reverse;
	height: 350px;
	overflow-y: scroll;
	padding: 10px;
}

.message {
	margin-bottom: 10px;
}

.sender {
	font-weight: bold;
	margin-bottom: 5px;
}

.chat-input {
	background-color: #f2f2f2;
	padding: 10px;
}

.chat-input input {
	flex: 1;
	border-radius: 5px;
	padding: 5px;
	border: none;
}

.chat-input button {
	background-color: #0066ff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.chat-input button:hover {
	background-color: #0044cc;
}
